.ED {
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
  text-align: center;
  
}
.logo {
  position: absolute;
  top: 40px;
  left: 60px;
  width: 210px;
}
.logo img{
  width: 210px;
}




.topnav ul {
  position: absolute;
  z-index: 2;
  text-align: center;
  left: 350px;



}
.topnav ul li {
  list-style: none;
  position: relative;
  float: left;
  padding-left: 60px;
  top: 20px;

  
  

}
.topnav ul li a{
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-decoration: none;

}

.topnav ul li a:hover::after{
  width: 100%;
}